<div class="profile-container">
     @if (ifCond) {
  <div class="heading">
     <h1>Who's watching?</h1>
    <div class="profiles">
        <div class="profile-pic">
            @for (profile of profiles; track $index) {
                <div class="profile-pic">
                    <div class="squircle">
                      <img id="psize" [className]="isEdit ? 'visible' : ''" [src]="profile.image" />
                      <div class="firsteye"><img id="firsteye" [className]="isEdit ? 'visible' : ''" src="/assets/eye.svg"></div>
                      <div class="secondeye"><img id="secondeye" [className]="isEdit ? 'visible' : ''" src="/assets/eye.svg"></div>
                      <div class="smile" ><img id="smile" [className]="isEdit ? 'visible' : ''" src="/assets/smile.svg"></div>
                  
                      <p style="color: #707070; text-align: center">{{ profile.name }}</p>
                      @if (isEdit) {
                        <div class="pen">
                            <i class="fa-solid fa-pen" (click)="profileEdit()"></i>
                        </div>
                      } 
                    </div>
                </div>     
            }
        </div>
    </div>
    
    <div class="profile-button">
            <button  (click)="editProfile()" [className]="isEdit ? 'Done' : 'manageprofile'">
                {{ isEdit ? 'Done' : 'Manage Profiles' }}
            </button>
    </div> 
</div>
    }
 
    
    @if (isprofileEdit) { 
    <div class="editprofile">
        <div class="title">
            <h1>Edit Profile</h1>
            <div class="editingProfile">
                <div class="profile-pic profile2">
                    
                    <div class="squircle">
                          <img id="psize" src="/assets/profilelogo.svg"/>
                          <div class="firsteye"><img id="firsteye" src="/assets/eye.svg"></div>
                          <div class="secondeye"><img id="secondeye"  src="/assets/eye.svg"></div>
                          <div class="smile" ><img id="smile"  src="/assets/smile.svg"></div>
                
                            <div class="pen1">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                    </div>
                    <div class="details">
                        <div class="name"><span style="color: #fff;">Athul</span></div>
                        <div class="kidsafe"><span  style="color: #fff;">Kid Safe</span>
                            <div class="toggle1">
                                <label class="toggle">
                                    <input class="toggle-checkbox" type="checkbox">
                                    <div class="toggle-switch"></div>
                                    <span class="toggle-label"></span>
                                </label>
                            </div>
                        </div>
                        <div class="lock"><span  style="color: #fff;">Pin Lock</span>
                            <div class="toggle2">
                                
                                    <label class="toggle">
                                        <input class="toggle-checkbox" type="checkbox"  [checked]="isActive" (click)=" profilePassword()" >
                                        <div class="toggle-switch"></div>
                                        <span class="toggle-label"></span>
                                    </label>
                                
                                
                            </div>
                            @if (isReset) {
                                <div class="reset" (click)="passwordForm.valid ?reset() :null">Reset PIN</div>
                            }
                        </div>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
        
    } 
@if(ispassword){
    <div class="row">
        <div class="lock__screen">
            <div class="pin-content">
                <form [formGroup]="passwordForm">
                    <div class="fields">
                        <nav>
                            <button class="close-btn" (click)="close()">X</button>
                        </nav>
                        <div class="setpin">
                            <h2 style="color: #fff; font-weight: bold;">Set PIN</h2>
                            <div class="setpass">
                                <input #field1Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')"   maxlength="1" (input)="onInputChange(field1Input, field2Input)" formControlName="first" >
                                <input #field2Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')"  maxlength="1" (input)="onInputChange(field2Input, field3Input)" formControlName="second">
                                <input #field3Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')"  maxlength="1" (input)="onInputChange(field3Input, field4Input)" formControlName="third">
                                <input #field4Input type="text"oninput="this.value = this.value.replace(/[^0-9]/,'')"  maxlength="1" (input)="onInputChange(field3Input, field5Input)" formControlName="fourth">
                            </div>
                        </div>
                        <div class="confpin">
                            <h2 style="color: #fff; font-weight: bold;">Confirm PIN</h2>
                            <div class="confpass">
                                <input #field5Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')" maxlength="1" (input)="onInputChange(field5Input, field6Input)" formControlName="fifth">
                                <input #field6Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')" maxlength="1" (input)="onInputChange(field6Input, field7Input)" formControlName="sixth">
                                <input #field7Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')" maxlength="1"(input)="onInputChange(field7Input, field8Input)" formControlName="seventh">
                                <input #field8Input type="text" oninput="this.value = this.value.replace(/[^0-9]/,'')" maxlength="1" formControlName="eighth">
                            </div>
                        </div>
                    </div>
                    </form>
                        <div class="password-button">
                            <button class="save" [disabled]="formValidity()" (click)="passwordForm.valid ? savePassword() : null" [className]="passwordForm.valid ?'save':'notsave'" ><span style="font-weight: bold;">Save</span></button>     
                    </div>
            </div>
        </div>
    </div>
}
<div class="shadow1"></div>
  <div class="shadow2"></div>
</div>
