<div class="navigation-bar">
  <div class="header-top">
    <img src="/assets/onnet+logo+white@2x.png" class="logo" />
    @for (item of pages; track item) {
      <div class="home">
        <span class="hover-underline-animation" 
      [class.underline-active]="item.isActive" 
      [style.color]="item.background ? 'white' : '#707070'" 
      (click)="toggleStyles(item)">
  {{item.page}}
</span>
      </div>
    }
  </div>
  <div class="profile-section">
    <div style="display: flex;gap: 6px;">
      <div class="search"><img src="/assets/zoom.svg" alt="" /></div>
      <div class="input"><input type="text" placeholder="Search..." /></div>
    </div>
    
    <div class="notifiction-icon">
      <img src="/assets/notification-icon.svg" />
    </div>
    <div class="squircle">
      <svg
        viewBox="0 0 160 160"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        fill="#f60f0f"
      >
        <path
          d="
                M 0 80
                C 0 20, 20 0, 80 0
                S 160 20, 160 80, 140 160
                80 160, 0 140, 0 80
                "
          transform="
                rotate(
                0,
                80,
                80
                )
                translate(
                0,
                0
                )
                "
        ></path>
      </svg>
      <div class="firsteye">
        <img id="firsteye" src="/assets/eye.svg" />
      </div>
      <div class="secondeye">
        <img id="secondeye" src="/assets/eye.svg" />
      </div>
      <div class="smile">
        <img id="smile" src="/assets/smile.svg" />
      </div>
    </div>
   
    <div class="drop-down" (click)=" dropdown()">
      <img src="/assets/arrow_drop_down.svg" alt=""   />
      @if (isPtofile) {
      <div class="userprofile-login" id="userprofile-login" (mouseleave)="noFocus()">
        <div class="profile_screen">
          <div class="dropdown">
            @for (profile of profiles; track profile){
            <div class="squircle">
              <div style="display: flex; gap: 10px;">
              <svg
                viewBox="0 0 160 160"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                [attr.fill]="profile.color"
              >
                <path
                  d="
                              M 0 80
                              C 0 20, 20 0, 80 0
                              S 160 20, 160 80, 140 160
                              80 160, 0 140, 0 80
                              "
                  transform="
                              rotate(
                              0,
                              80,
                              80
                              )
                              translate(
                              0,
                              0
                              )
                              "
                ></path>
              </svg>
              <div class="firsteye">
                <img id="firsteye" src="/assets/eye.svg" />
              </div>
              <div class="secondeye">
                <img id="secondeye" src="/assets/eye.svg" />
              </div>
              <div class="smile">
                <img id="smile" src="/assets/smile.svg" />
              </div>
              <p style="color: #f5f1f1; text-align: center">
                {{ profile.name }}
              </p>
            </div>

              @if (profile.ifprofilelock) {
              <div class="lock-icon">
                <i class="fas fa-lock" style="color: #fff"></i>
              </div>
              }
            </div>
            }
          </div>
          <div class="dropdown2">
            <div class="pen">
              <i class="fa-solid fa-pen"></i>
            </div>
            <button class="manageprofile">Manage Profiles</button>
          </div>
          <div class="proceed">
            <button class="get-started-btn">
                Sign Out
            </button>
        </div>
        </div>
      </div>
    }
    </div>
  
  </div>
</div>
