*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mainWrap{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}


span{
    color: red;
    margin-top: 20px;
}


.imagediv{
    width: 60%;
    height: 100%;
    display: flex;
}


.imagediv img{
    margin: auto;
    height: 70%;
    width: 60%;
}


.contentdiv{
    width: 40%;
    height: 100%;
    margin-right: 50px;
}


.headercontentdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-bottom: solid;
    border-color: rgb(57, 55, 55);
}


.logoImg{
    width: 123px;
    height: 43px;
    margin-left: auto;
}

.logButton , .signButton{
    height: 48px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    padding: 20px;
}


.logButton{   
    border-right: solid;
    border-color: rgb(57, 55, 55);
}


.inputText0{
    position: relative;
}


.inputText{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border-color: white;
    border: solid;
    border-width: 1px;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 35px;
    font-style: italic;
}


.mobno{
    position: absolute;
    color:rgba($color: #fff, $alpha: 0.8);
    background-color: black;
    top: 45px;
    left: 10px;
    pointer-events: none;
}
 

.inputText:focus + .mobno, .inputText:not(:placeholder-shown)+.mobno{
      top: 25px;
      color: rgba($color: #fff, $alpha: 0.8);
      background-color: black;
      padding: 0 15px;
}


.otpButton{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    margin-top: 40px;
    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}


.resendOtp{
    color : rgba($color: #fff, $alpha: 0.8);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.otpInput{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color: black;
    border: solid;
    border-color: rgba($color: #fff, $alpha: 0.8);
    border-width: 1px;
    color: rgba($color: #fff, $alpha: 0.8);
    align-content: center;
    text-align: center;
}


.otpDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.keepSignedWrap{
    color: rgba($color: #fff, $alpha: 0.7);
    margin-top: 20px;
}


.keepSigned{
    width: 10px;
    height: 10px;
    margin-right: 15px;
}


.genderDob{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.genderDob div{
    width: 100%;
}


.inputText1{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: rgba($color: #fff, $alpha: 0.8);
    background-color: black;
    border-color: white;
    border: solid;
    border-width: 1px;
    padding-left: 30px;
    font-weight: bold;
    margin-top: 35px;
    font-style: italic;
    &::placeholder{
        color: black;
    }
}


.male{
    background-color: black;
    color: black;
}


.null{
    color:rgba($color: #fff, $alpha: 0.8);
    background-color: black;
}


@media screen and (max-width:954px) {
    .imagediv{
        width: 50%;
    }

    .contentdiv{
        width: 50%;
    }
}


@media screen and (max-width:954px) {
    .imagediv{
        width: 0%;
    }

    .contentdiv{
        width: 100%;
        margin-left: 50px;
    }
}


@media screen and (max-width:422px) {
    .imagediv{
        width: 0%;
    }

    .contentdiv{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}