<div class="mainWrap">
  <div class="imagediv">
    <div class="carousel">
      <img src="assets/Login/TV/TV.png" alt="" />
      <img src="/assets/onnet_logopng.png" alt="" />
      <img src="assets/Login/TV/TV.png" alt="" />
    </div>
    <div class="dots-container">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <div class="contentdiv">
    <div class="headercontentdiv">
      <button
        class="logButton"
        id="logButton"
        (click)="mainLogin()"
        [style.Color]="buttonColor()"
      >
        Login
      </button>
      <button
        class="signButton"
        (click)="mainSignup()"
        [style.Color]="buttonColor1()"
      >
        Sign Up
      </button>
      <img
        class="logoImg"
        src="assets/Login/onnet+logo+white/onnet+logo+white.png"
        alt=""
      />
    </div>

    @if(getOtp){
    <div class="bottomcontentdiv">
      <form [formGroup]="userform1">
        <div class="inputText0">
          <input
            formControlName="mobno"
            class="inputText"
            id="inputText3"
            type="text"
            placeholder=" "
            maxlength="10"
            [value]="mobnum"
            oninput="this.value = this.value.replace(/[^0-9]/,'')"
            (input)="onChange(userform1.get('mobno')?.value)"
          />
          @if(userform1.controls['mobno'].touched &&
          userform1.controls['mobno'].invalid) {<span
            >The Mobile Number is required.</span
          >}
          <label class="mobno">Mobile Number</label>
        </div>
      </form>

      <div>
        <button
          class="otpButton"
          [disabled]="validateCase1()"
          (click)="buttonLoginF()"
        >
          Get OTP
        </button>
      </div>
    </div>
    } @if(signin||signup){
    <div class="bottomcontentdiv">
      <form [formGroup]="userform2">
        <div class="inputText0">
          <input
            formControlName="mobno"
            class="inputText"
            type="text"
            placeholder=" "
          />
          @if(userform2.controls['mobno'].touched &&
          userform2.controls['mobno'].invalid) {<span
            >The Mobile Number is required.</span
          >}
          <label class="mobno">Mobile Number</label>
        </div>

        <div class="otpresend">
          <div class="resendOtp">Resend OTP</div>

          <div class="otpDiv">
            <input
              #field1Input
              required
              formControlName="otp1"
              type="text"
              maxlength="1"
              class="otpInput"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
              (input)="onInputChange(field1Input, field2Input)"
            />

            <input
              #field2Input
              required
              formControlName="otp2"
              type="text"
              maxlength="1"
              class="otpInput"
              inputmode="numeric"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
              (input)="onInputChange(field2Input, field3Input)"
            />

            <input
              #field3Input
              required
              formControlName="otp3"
              type="text"
              maxlength="1"
              class="otpInput"
              inputmode="numeric"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
              (input)="onInputChange(field3Input, field4Input)"
            />

            <input
              #field4Input
              required
              formControlName="otp4"
              type="text"
              maxlength="1"
              class="otpInput"
              inputmode="numeric"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
              (input)="onInputChange(field4Input, field5Input)"
            />

            <input
              #field5Input
              required
              formControlName="otp5"
              type="text"
              maxlength="1"
              class="otpInput"
              inputmode="numeric"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
              (input)="onInputChange(field5Input, field6Input)"
            />

            <input
              #field6Input
              required
              formControlName="otp6"
              type="text"
              maxlength="1"
              class="otpInput"    
              inputmode="numeric"
              oninput="this.value = this.value.replace(/[^0-9]/,'')"
            />
          </div>

          @if(userform2.controls['otp1'].touched &&
          userform2.controls['otp1'].invalid) {<span>The OTP is required.</span
          >} @if(userform2.controls['otp2'].touched &&
          userform2.controls['otp2'].invalid) {<span>The OTP is required.</span
          >} @if(userform2.controls['otp3'].touched &&
          userform2.controls['otp3'].invalid) {<span>The OTP is required.</span
          >} @if(userform2.controls['otp4'].touched &&
          userform2.controls['otp4'].invalid) {<span>The OTP is required.</span
          >} @if(userform2.controls['otp5'].touched &&
          userform2.controls['otp5'].invalid) {<span>The OTP is required.</span
          >} @if(userform2.controls['otp6'].touched &&
          userform2.controls['otp6'].invalid) {<span>The OTP is required.</span
          >}
        </div>
      </form>

      <div class="signedButton">
        <button
          class="otpButton"
          [disabled]="validateCase2()"
          (click)="buttonLoginS()"
        >
          {{ signCase }}
        </button>
      </div>

      <div class="keepSignedWrap">
        <input class="keepSigned" type="checkbox" />Keep me signed in
      </div>
    </div>
    } @if (signUpF) {
    <div class="bottomcontentdiv">
      <form [formGroup]="userform3" class="signupForm">
        <div class="inputdiv1">
          <div class="inputText7">
            <input
              formControlName="mobno"
              class="inputText"
              type="text"
              placeholder=" "
            />
            @if(userform3.controls['mobno'].touched &&
            userform3.controls['mobno'].invalid) {<span
              >The Mobile Number is required.</span
            >}
            <label class="mobno">Mobile Number</label>
          </div>
        </div>

        <div class="inputdiv2">
          <div class="inputText6">
            <input
              formControlName="fname"
              class="inputText"
              type="text"
              placeholder="Joe Mon"
            />
            @if(userform3.controls['fname'].touched &&
            userform3.controls['fname'].invalid) {<span
              >The Firstname is required.</span
            >}
            <label class="mobno">Full Name</label>
          </div>
        </div>

        <div class="inputdiv3">
          <div class="inputText2">
            <input
              formControlName="email"
              class="inputText"
              type="text"
              placeholder=" "
              inputmode="email"
            />
            @if(userform3.controls['email'].touched &&
            userform3.controls['email'].invalid) {<span
              >The Email is required.</span
            >}
            <label class="mobno">Email Id</label>
          </div>
        </div>

        <div class="genderDob">
          <div class="inputText3">
            <select formControlName="gender" class="inputText1">
              <option class="null" selected disabled hidden>Gender</option>
              <option value="male">Male</option>
              <option value="male">Female</option>
            </select>
            @if(userform3.controls['gender'].touched &&
            userform3.controls['gender'].invalid) {<span
              >The Gender is required.</span
            >}
            <p class="mobno">Gender</p>
          </div>

          <div class="inputText4">
            <input
              formControlName="date"
              class="inputText1"
              type="date"
              style="color: white"
            />
            @if(userform3.controls['date'].touched &&
            userform3.controls['date'].invalid) {<span
              >The DOB is required.</span
            >}
            <p class="mobno">DOB</p>
          </div>
        </div>

        <div class="inputdiv4">
          <div class="inputText5">
            <select formControlName="state" class="inputText" type="text">
              <option class="null" selected disabled hidden>State</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Dadra and Nagar Haveli and Daman and Diu">
                Dadra and Nagar Haveli and Daman and Diu
              </option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Delhi">Delhi</option>
              <option value="Puducherry">Puducherry</option>
            </select>
            @if(userform3.get('state')?.touched &&
            userform3.get('state')?.invalid) {<span>The State is required.</span
            >}
            <label class="mobno">State</label>
          </div>
        </div>

        <div class="signupButton">
          <button
            class="otpButton"
            [disabled]="validateCase3()"
            (click)="buttonLoginT()"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
    }
  </div>
</div>
