<div class="main-container">
  <!-- <div class="shadow1"></div>
  <div class="shadow2"></div> -->
  <div class="choose-plan1">
    <div class="header-top">
      <div class="heading1"><h1>Choose Plan</h1></div>
      <img src="/assets/onnet+logo+white@2x.png" class="logo" />
    </div>
    <!-- <div class="subscription-plan">
      <div class="subscription-type">
        <div class="heading2">
          <span style="color: #fff; font-weight: bold">Subscription</span>
          <span style="color: #fff">Type</span>
        </div>
        <div class="totalNoscreen">
          @for (group of choose2; track group) { @if (group.chooseScreen) { @for
          (item of group.chooseScreen; track item) {
          <div class="screen">
            <div class="sc">
              <input
                type="radio"
                id="specifyColor"
                name="screen"
                [value]="item.id"
              />
              {{ item.screen }}
            </div>
          </div>
          } } }
        </div>
      </div>
      @for (group of choose2; track $index) { @if (group.choosePlan) {
      <div class="months">
        @for (item of group.choosePlan; track item) {
        <div
          class="month"
          [style.background]="item?.background ? '#E50914' : '#fff'"
          [class.selected]="item?.background"
          (click)="planselect(item)"
        >
          {{ item.plan }}
        </div>
        }
      </div>
      } }
    </div> -->
    <div class="packss">
      @for (items of pack; track $index) { 
        
      <div class="packs" [class.selected]="items.packageStatus === 1" 
   
      [style.border]="items.packageStatus === 1 ? '1px solid #F5F5F5': '1px solid #E50914' "
      (click)="packageSelect(items.id)"  >
        <div
        class="pack" id = "id{{$index}}" [class.select]="itemIndex === $index && rowIndex === 0" 
    
        >
          <div class="packNo">
            <span style="color: #fff">Pack</span
            ><span style="color: #fff; font-weight: bold">{{items.packageName}}</span>
          </div>
          <!-- <div class="percentge">
            <span style="color: #e50914">{{ items.match }}% Match</span>
          </div> -->
          <div class="op">
            <span style="color: #fff; font-weight: 500">OTT Providers</span>
            <span style="color: #707070; font-weight: 500">{{items.providersInfo.length}} Providers</span>
          </div>

          <div class="ottchannels">
            @for (item of items.providersInfo.slice(0, 4); track $index)  {
            <div class="channel-icon">
              <svg
                viewBox="0 0 160 160"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                fill="#707070"
              >
              <rect
               width="100%"
                height="100%"
                fill="#fff" 
                clip-path="url(#circleClip)"
              />
                <clipPath id="circleClip">
                  <path
                    d="
            M 0 80
            C 0 20, 20 0, 80 0
            S 160 20, 160 80, 140 160
            80 160, 0 140, 0 80ipol
          "
                    transform="rotate(0, 80, 80)"
                  ></path>
                </clipPath>
                <image
                  *ngIf="item.logoPath"
                  [attr.xlink:href]="
                    'http://app.pishow.tv/' + item.logoPath
                  "
                  background = "red"
                  clip-path="url(#circleClip)"
                  height="160"
                  width="160"
                />
              </svg>
            </div>
            }
          </div> 
          <div class="op">
            <span style="color: #fff; font-weight: 500">FTA Channels</span>
            <span style="color: #707070; font-weight: 500">{{ftaChannelsData.length}} Providers</span>
          </div>

          <div class="ottchannels">
            @for (item of ftaChannelsData.slice(0, 4); track item) {
            <div class="channel-icon">
                <svg
                viewBox="0 0 160 160"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                fill="#707070"
              >
              <rect
       width="100%"
        height="100%"
        fill="#fff" 
        clip-path="url(#circleClip)"
      />
                <clipPath id="circleClip">
                  <path
                    d="
            M 0 80
            C 0 20, 20 0, 80 0
            S 160 20, 160 80, 140 160
            80 160, 0 140, 0 80ipol
          "
                    transform="rotate(0, 80, 80)"
                  ></path>
                </clipPath>
                <image
                  *ngIf="item.channelLogoUrl"
                  [attr.xlink:href]="
                    'https://epg.pishow.tv/bucket/images/' + item.channelLogoUrl
                  "
                  clip-path="url(#circleClip)"
                  height="160"
                  width="160"
                />
              </svg>
            </div>
            
            }
        </div> 
          @for (item of items.pricingInfo; track $index) {
          <div class="rate">
            
            <div class="rates">
              @for (p of item.screensInfo; track $index) {
              <div style="display: flex; gap: 3px"> 
                <span style="color: #fff; font-weight: 500">₹</span>
              
                <span style="color: #fff; font-weight: 500">
                {{p.price}}</span
                ><span style="color: #fff; font-weight: 500">/</span
                ><span style="color: #707070; font-weight: 500">{{item.duration}}</span>
              </div>}
              <div class="discount">
                <span>save</span><span>{{ items.discount }}%</span
                ><span>yearly</span>
              </div>
            </div>
          </div>
        }
        </div>
      </div>

      }
    </div>
    <div class="proceed" >
      <button class="get-started-btn" (click)="proceed()" [class.selected]=" rowIndex===1" id="id2">Proceed</button>
    </div>
  </div>
</div>
