.simulator_buttons{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}
button{
    font-weight: normal;
    text-transform: uppercase;
    border: 1px solid var(--background);
    color: white;
    background: red;
    width: 90px;
    padding: 0.15rem;
    text-align: center;
    cursor: pointer;
    margin: 2px;
}