<div class="appRoute">
    <router-outlet></router-outlet>
    <!-- <app-navigationbar></app-navigationbar> -->
    <app-detailview></app-detailview>
    <app-castdetails></app-castdetails>
    <app-navigation-bar></app-navigation-bar>
    <!-- <app-main-carousel/> -->
    <!-- <app-continue-watch [styleChange]="'1stStyle'" [label]="'Continue Watching'" /> -->
    <!-- <app-continue-watch [styleChange]="'2ndStyle'" [label]="'Featured for you'"/> -->
    <!-- <app-continue-watch [styleChange]="'1stStyle'" [label]="'Love is in the air'" /> -->
    </div>
    