<div class="appRoute">
    <router-outlet></router-outlet>
    <app-login-screen></app-login-screen>
    <!-- <app-profilepage></app-profilepage> -->
    <!-- <app-welcomescreen></app-welcomescreen> -->
    <!-- <app-navigation-bar></app-navigation-bar> -->
    <!-- <app-detailview></app-detailview> -->
    <!-- <app-castdetails></app-castdetails> -->
    <!-- <app-episode-details></app-episode-details> -->
    <!-- <app-main-carousel/>
    <app-continue-watch [styleChange]="'1stStyle'" [label]="'Continue Watching'" />
    <app-continue-watch [styleChange]="'2ndStyle'" [label]="'Featured for you'"/>
    <app-continue-watch [styleChange]="'1stStyle'" [label]="'Love is in the air'" /> -->
    </div>
    