<div class="appRoute">
    <router-outlet></router-outlet>
    <!-- <app-navigation-bar></app-navigation-bar> -->
    <!-- <app-detailview></app-detailview> -->
    <!-- <app-castdetails></app-castdetails> -->
    <app-main-carousel/>
    <app-simulater></app-simulater>    
    <!-- <app-episode-details></app-episode-details> -->
    <!-- <app-login-screen></app-login-screen> -->
    <!-- <app-continue-watch [styleChange]="'1stStyle'" [label]="'Marvellous Superheroes'" /> -->
    <!-- <app-continue-watch [styleChange]="'2ndStyle'" [label]="'Mini Multiplex'"/> -->
    <!-- <app-continue-watch [styleChange]="'1stStyle'" [label]="'100 Free Movies'" /> -->
    </div>
    