<div class="profile-container">
  @if (ifCond) {
  <div class="heading">
    <h1>Who's watching?</h1>
    <div class="profiles">
      <div class="profile-pic">
        @for (profile of profiles1; track $index){
        <div class="squircle" (click)="profileLogin(profile)"  id="id{{$index}}">
          <!-- <svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" version="1.1" 
                    [attr.fill]="profile.color" 
                    >
                    <path d="
                        M 0 80
                        C 0 20, 20 0, 80 0
                        S 160 20, 160 80, 140 160
                        80 160, 0 140, 0 80
                        " 
                        transform="
                        rotate(0, 80, 80)
                        translate(0, 0)
                        "
                    ></path>
                </svg> -->
          <img [className]="isEdit ? 'visible' : ''" [src]="profile.profileAvatar" [class.selected]="itemIndex === $index && rowIndex===0"/>
          <!-- <div class="firsteye">
                <img
                  id="firsteye"
                  [className]="isEdit ? 'visible' : ''"
                  src="/assets/eye.svg"
                />
              </div>
              <div class="secondeye">
                <img
                  id="secondeye"
                  [className]="isEdit ? 'visible' : ''"
                  src="/assets/eye.svg"
                />
              </div>
              <div class="smile">
                <img
                  id="smile"
                  [className]="isEdit ? 'visible' : ''"
                  src="/assets/smile.svg"
                />
              </div> -->
          <p
            style="
              color: #707070;
              text-align: center;
              margin-top: 1rem;
              margin-bottom: 0;
            "
          >
            {{ profile.profileName }}
          </p>

          @if (profile.profilePin !==0) {
          <div class="lock-icon">
            <i class="fas fa-lock" style="color: #707070"></i>
          </div>
          } @if (isEdit) {
          <div class="pen">
            <i class="fa-solid fa-pen" (click)="profileEdit(profile)"></i>
          </div>
          }
        </div>
        } @if (isAddnewprofile && profiles1.length < 4) {                   <!---->
        <div class="addProfile" (click)="Addnewprofile(profiles1)">
          <img src="/assets/addprofile.svg" />
          <div class="add-icon">
            <i class="fa-solid fa-plus" style="color: #525252"></i>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="profile-button">
    <button [class.selected]="itemIndex === 0 && rowIndex===1" id="id2"
      (click)="editProfile()"
      [className]="isEdit ? 'Done' : 'manageprofile'"
    >
      {{ isEdit ? "Done" : "Manage Profiles" }}
    </button>
  </div>
  } @if (isprofileEdit) {
  <div class="editprofile">
    <div class="title">
      <h1>{{ profileTitle }}</h1>
      <div class="editingProfile">
        <div class="profile-pic profile2">
          <div class="squircle">
            <img id="psize" src="/assets/profilelogo.svg" />
            <div class="firsteye">
              <img id="firsteye" src="/assets/eye.svg" />
            </div>
            <div class="secondeye">
              <img id="secondeye" src="/assets/eye.svg" />
            </div>
            <div class="smile"><img id="smile" src="/assets/smile.svg" /></div>
            <div class="pen1"><i class="fa-solid fa-pen"></i></div>
          </div>
          <div class="details" [formGroup]="editProfileForm">
            <div class="name">
              <input
                type="text"
                formControlName="profileName"
                placeholder="Enter Name"
              />
            </div>
            <div class="kidsafe">
              <span style="color: #fff">Kid Safe</span>
              <div class="toggle1">
                <label class="toggle">
                  <input 
                  class="toggle-checkbox"
                  type="checkbox"
                  [checked]="editProfileForm.get('kidsSafe')?.value == 1"
                  formControlName="kidsSafe"
                  (change)="toggleKidsSafe($event)"
                />
                

                  <div class="toggle-switch"></div>
                  <span class="toggle-label"></span>
                </label>
              </div>
            </div>
            <div class="lock">
              <span style="color: #fff">Pin Lock</span>
              <div class="toggle2">
                <label class="toggle">
                  <input
                    class="toggle-checkbox"
                    type="checkbox"
                    [checked]="editProfileForm.get('profilePin')?.value"
                    (change)="profilePassword($event)"
                    formControlName="profilePin"
                  />

                  <div class="toggle-switch"></div>
                  <span class="toggle-label"></span>
                </label>
              </div>
              @if (editProfileForm.value.profilePin) {
              <div
                class="reset"
                (click)="reset(editProfileForm.value.ifprofileLock)"
              >
                <span>Reset PIN</span>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="password-button">
          <button
            class="profileedit-save"
            (click)="profileedit()"
            [disabled]="editProfileForm.get('profileName')?.invalid"
          >
            <span style="font-weight: bold">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  } @if(ispassword){
  <div class="row">
    <div class="lock__screen">
      <div class="pin-content">
        <form [formGroup]="passwordForm">
          <div class="fields">
            <nav>
              <button class="close-btn" (click)="close()">X</button>
            </nav>
            <div class="setpin">
              <h2 style="color: #fff; font-weight: bold">Set PIN</h2>
              <div class="setpass">
                <input
                  #field1Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  formControlName="first"
                  (input)="onInputChange(field1Input, field2Input)"
                />
                <input
                  #field2Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field2Input, field3Input)"
                  formControlName="second"
                />
                <input
                  #field3Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field3Input, field4Input)"
                  formControlName="third"
                />
                <input
                  #field4Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field4Input, field5Input)"
                  formControlName="fourth"
                />
              </div>
            </div>
            <div class="confpin">
              <h2 style="color: #fff; font-weight: bold">Confirm PIN</h2>
              <div class="confpass">
                <input
                  #field5Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field5Input, field6Input)"
                  formControlName="fifth"
                />
                <input
                  #field6Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field6Input, field7Input)"
                  formControlName="sixth"
                />
                <input
                  #field7Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  (input)="onInputChange(field7Input, field8Input)"
                  formControlName="seventh"
                />
                <input
                  #field8Input
                  type="text"
                  oninput="this.value = this.value.replace(/[^0-9]/,'')"
                  maxlength="1"
                  formControlName="eighth"
                />
              </div>
              <div
                class="pin-mis"
                *ngIf="formValidity() && passwordForm.touched"
              >
                <span style="color: red">PIN must match</span>
              </div>
            </div>
          </div>
        </form>

        <div class="password-button">
          <button
            class="save"
            [disabled]="formValidity()"
            (click)="passwordForm.valid ? savePassword() : null"
            [className]="passwordForm.valid ? 'save' : 'notsave'"
          >
            <span style="font-weight: bold">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  } @if (isprofile_login) {
  <div class="userprofile-login">
    <div class="profile_screen">
      <div class="profile-pin">
        <form [formGroup]="profileLoginform">
          <nav>
            <button class="close-btn" (click)="profile_close()">X</button>
          </nav>
          <div class="fields1">
            <div class="text1">
              <h6 style="color: #fff; font-weight: 200">Profile is Locked</h6>
            </div>
            <div class="texts2">
              <h2 style="color: #fff; font-weight: bold">Enter your PIN</h2>
            </div>
            <div class="loginpass">
              <input
                #pro1
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/,'')"
                maxlength="1"
                (input)="onInputChange2(pro1, pro2, pro3, pro4)"
                formControlName="first"
              />

              <input
                #pro2
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/,'')"
                maxlength="1"
                (input)="onInputChange2(pro2, pro3, pro4, pro1)"
                formControlName="second"
              />

              <input
                #pro3
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/,'')"
                maxlength="1"
                (input)="onInputChange2(pro3, pro4, pro1, pro2)"
                formControlName="third"
              />

              <input
                #pro4
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/,'')"
                maxlength="1"
                (input)="onInputChange2(pro4, pro1, pro2, pro3)"
                formControlName="fourth"
              />
            </div>
            <div class="text3">
              <p (click)="forgotPassword(editProfileForm.value.id)">
                Forgot PIN?
              </p>
            </div>
          </div>
        </form>
        <button class="profileedit-save" (click)="submitForm()">
          <span style="font-weight: bold">Login</span>
        </button>
      </div>
    </div>
  </div>
  }
  <div class="shadow1"></div>
  <div class="shadow2"></div>
</div>
