@if(styleChange == "1stStyle"){
    <div>
        <div class="continueWatching">Continue Watching</div>
        <div class="mainWrap"  >
                <div class="mainImageWrap" id="mainImageWrap">
                    @for (item of imageArray; track $index) {
                        <div class="imageWrap">
                            <img [src]="item.discriptUrl" alt=""/>
                        </div>
                    }
                </div>
                <div class="arrow">
                    <img src="assets/Login/Chevron/chevron_right.svg" alt="" (click)="transformImg()">
                </div>
        </div>
    </div>
}   