<div class="mainNavWrap">
        <div>
            <img src="assets/Login/onnet+logo+white/onnet+logo+white.png" alt="">
        </div>
        <div>
            Home
        </div>
        <div>
            Movies
        </div>
        <div>
            Shows
        </div>
        <div>
            EPG
        </div>
        <div>
        <button type="submit"><i class="fa fa-search"><img src="assets/Login/Logos/search.png" alt=""></i></button>
        </div>
        <div class="inputSearch">
            <input type="text" placeholder="Search...">
        </div>
</div>
