.mainNavWrap{
    background: black;
    color: white;
    display: flex;
    .inputSearch{
        input{
            border: none;
            border-bottom: 1px solid;
            border-color: white;
            background-color: black;
            color: white;
            &::placeholder{
                color: white;
                opacity: 0.8;
            } 
            &:focus{
                border: none;
                outline: none;
            }
        }
    }
}